.rounded {
    -fx-background-radius: 4px;
    -fx-border-radius: 4px;
}

.rounded-0 {
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

.rounded-sm {
    -fx-background-radius: 2px;
    -fx-border-radius: 2px;
}

.rounded-lg {
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
}

.rounded-pill {
    -fx-background-radius: 100px;
    -fx-border-radius: 100px;
}