.h1 {
    -fx-font-size: 26px;
}

.h2 {
    -fx-font-size: 24px;
}

.h3 {
    -fx-font-size: 22px;
}

.h4 {
    -fx-font-size: 20px;
}

.h5 {
    -fx-font-size: 18px;
}

.h6 {
    -fx-font-size: 16px;
}